[Desktop Entry]
Name=ePad
GenericName=Text Editor
Comment=Simple text editor
Exec=epad %U
Icon=accessories-text-editor
Terminal=false
Type=Application
MimeType=text/plain
Categories=EFL;Utility;TextEditor;
Actions=Window;Document;
Keywords=Text;Editor;Plaintext;Write;
StartupWMClass=epad
